<%= render "layouts/logo" %>
<div class="container-fluid">
  <% @movies.each do |movie| %>
    <div class="col-sm-4 padding-top-5 padding-bot-5"> <%=  link_to image_tag(movie.poster, class: "img-responsive"), movie_path(movie)%> </div>
  <% end %>
</div>
