<div id="user">
  <h1> <%=@user.name.capitalize%>'s profile: </h1>
  <br>
  <div>
  <h2>Here are your reviews</h2>

    <% @user.reviews.each do |review|%>
   <h4> <%= review.movie.title  %> </h5>
     <p>Review: <%=  review.body %></p>
    <p><% review.comments.each do |comment| %></p>
    <p> Comment: <%= comment.body %> </p>
    <% end %>
    <% end %>
  </div>
  </div>
</div>
