/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.body{
}

 .padding-15 {
   padding: 15px;
 }
 .padding-top-5 {
   padding-top: 5px;
 }
 .padding-bot-5 {
   padding-bottom: 5px;
 }

 .padding-12-15 {
   padding: 12px 15px;
 }

 .padding-12-20 {
   padding: 12px 20px;
 }

 .padding-20-top {
   padding-top: 20px;
 }

 .padding-20-bot {
   padding-bottom: 20px;
 }

 .margin-0 {
   margin: 0px;
 }

 /* Border CSS */

 .no-border {
   border: none;
 }

 .grey-1-right {
   border-right: 1px solid grey;
 }

 .grey-1-left {
   border-left: 1px solid grey;
 }

 .lg-1-all {
   border: 1px solid #d3d3d3;
 }

 /* Cursor CSS */

 .pointer-cursor {
   cursor: pointer;
 }

 /* Text CSS */

 .no-text-dec {
   text-decoration: none;
 }

 .font-s-16 {
   font-size: 16px;
   font-family: 'Playfair Display', serif;
 }

 /* Color CSS */

 .color-black {
   color: white;
 }
.tomatoes-background {
  background-size: cover;
}
.pattern-background {
  background-size: cover;
  background-color: #0C5007;
}

.flip-y {
  transform:scaleX(-1);
}


 .FF-background {
   background-color: #FFCCB8;
 }

 .F8-background {
   background-color: #F8F8F8;
 }

 .CC-background {
   background-color: #CCF6AE;
 }
 .background-white {
   background-color: white;
 }

 .background-777 {
   background-color: #777;
 }

 .no-background {
   background-color: transparent;
 }

 .color-777 {
   color: #777;
 }

 /* Positioning CSS */

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

/* Display CSS */

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.no-display {
  display: none;
}

.no-float {
  float: none;
}

/* Width CSS */

.min-w-160 {
  min-width: 160px;
}

.min-w-250 {
  min-width: 250px;
}

.max-w-1000 {
  max-width: 1000px;
}

.min-h-50 {
  min-height: 50px
}

/* Z-index */

.z-2 {
  z-index: 2;
}

/* Misc. */

.img-responsive {
    margin: 0 auto;
}

.vcenter {
  vertical-align: middle;
}

@media (max-width: 767px) {
    .navbar-default{
        display:none;
    }
}

@media (min-width: 768px) {
    .navbar-mobile{
        display:none;
    }
}


.transparent-green{
  background:rgba(6,41,11,0.5);
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-align: justify;
}

 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #f1f1f1}

 /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
 .show {display:block;}

#user {
  padding: 25px;
}

#pins {
	padding-top: 1em;
}

div#pins figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.b1{
		border-radius: 5px;
    display:inline-block;
    position: relative;
    margin: 5px;
    float:left;
    width: calc(33% - 10px);
    height:600px;
    background-color: #E9F5E8;
}

.leavereview {
  display: block;
  border: none;
}

.trustedreviews {
  display: block;
  border: none;
}
