<nav class="navbar navbar-default margin-0">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Home', '/' %></li>
      <!-- Adjust this to match proper route -->
      <% if 1==1 %>
      <!-- Replace with user login logic -->
        <li><%= link_to 'Logout', 'logout', :method => :delete %></li>
        <!-- Adjust this to match proper route -->
      <% else %>
        <li><%= link_to 'Login', 'login'  %></li>
        <!-- Adjust this to match proper route -->
      <% end %>
    </ul>
    <form class="nav navbar-nav navbar-right">
      <input class="padding-15 no-border min-w-250" type="text" placeholder="Search for Movie">
      <input class="padding-15 no-border color-777 CC-background" type="submit" value="Search">
    </form>
    <div class="dropdown pos-relative inline-block nav navbar-nav navbar-right">
      <button onclick="showFunction()" class="dropbtn padding-15 no-border pointer-cursor color-777 CC-background">Genres</button>
      <div id="myDropdown" class="dropdown-content no-display pos-absolute CC-background min-w-160 z-2">
        <input class="font-s-16 padding-12-20 no-border" type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <a class="color-black padding-12-15 no-text-dec block" href="#">Horror</a>
        <a class="color-black padding-12-15 no-text-dec block" href="#">Sci-Fi</a>
        <a class="color-black padding-12-15 no-text-dec block" href="#">Comedy</a>
      </div>
    </div>
  </div>
</nav>
